In [31]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/Simone-Ingrid/datasetaero/main/ocorrencia.csv', encoding='latin-1', sep=';')

data.info()

data['ocorrencia_cidade'].value_counts()
data['ocorrencia_classificacao'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6769 entries, 0 to 6768
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   codigo_ocorrencia               6769 non-null   int64
 1   codigo_ocorrencia1              6769 non-null   int64
 2   codigo_ocorrencia2              6769 non-null   int64
 3   codigo_ocorrencia3              6769 non-null   int64
 4   codigo_ocorrencia4              6769 non-null   int64
 5   ocorrencia_classificacao        6769 non-null   object
 6   ocorrencia_latitude             5135 non-null   object
 7   ocorrencia_longitude            5135 non-null   object
 8   ocorrencia_cidade               6769 non-null   object
 9   ocorrencia_uf                   6769 non-null   object
 10  ocorrencia_pais                 6769 non-null   object
 11  ocorrencia_aerodromo            6769 non-null   object
 12  ocorrencia_dia                  6769 non-null   object
 13  ocorrencia_hora                 6767 non-null   object
 14  investigacao_aeronave_liberada  6531 non-null   object
 15  investigacao_status             6428 non-null   object
 16  divulgacao_relatorio_numero     5987 non-null   object
 17  divulgacao_relatorio_publicado  6769 non-null   object
 18  divulgacao_dia_publicacao       1781 non-null   object
 19  total_recomendacoes             6769 non-null   int64
 20  total_aeronaves_envolvidas      6769 non-null   int64
 21  ocorrencia_saida_pista          6769 non-null   object
dtypes: int64(7), object(15)
memory usage: 1.1+ MB

INCIDENTE          3795
ACIDENTE           2090
INCIDENTE GRAVE     884
Name: ocorrencia_classificacao, dtype: int64

In [ ]:
#data = [['Cloudmagic', 12], ['Smartr', 17], ['Sunrise Calendar', 11], ['Free-time', 16], ['Pocket', 16], ['Wunderlist', 12], ['Files Google', 18]]

data = {'App': ['Cloudmagic', 'Smartr', 'Sunrise Calendar', 'Free-time', 'Pocket', 'Wunderlist', 'Files Google'], 'ms': [12, 17, 11, 16, 16, 12, 18]}

df = pd.DataFrame(data, columns=['App', 'ms'])

print(df['ms'].mean())
print(df['ms'].median())
print(df['ms'].mode())
print(df['ms'].describe())

result = df.loc[df['ms'] == 16]
print(result)
result = df.loc[df['ms'] >= 16]
result.plot.bar(x='App')

In [14]:
import pandas as pd
import requests

url = 'https://www.worldcoinindex.com/'
crypto_url = requests.get(url)
crypto_url

In [15]:
crypto_data = pd.read_html(crypto_url.text)

crypto_data

[       # Unnamed: 1            Name Ticker  Last price        %     24 high  \
 0      1        NaN         Bitcoin    BTC    $ 20,922   +1.57%    $ 21,053
 1      2        NaN        Ethereum    ETH  $ 1,639.70   +5.46%  $ 1,650.17
 2      3        NaN        Dogecoin   DOGE  $ 0.114917  +37.01%  $ 0.115061
 3      4        NaN      Binanceusd   BUSD      $ 1.00   +0.07%      $ 1.00
 4      5        NaN          Ripple    XRP  $ 0.472657   -0.35%  $ 0.483147
 ..   ...        ...             ...    ...         ...      ...         ...
 97    96        NaN        Illuvium    ILV     $ 71.16   +5.74%     $ 72.76
 98    97        NaN            Reef   REEF  $ 0.005381   -0.88%  $ 0.005496
 99    98        NaN       The Graph    GRT  $ 0.083894   +2.04%  $ 0.085641
 100   99        NaN  Lido DAO Token    LDO      $ 1.68   +0.63%      $ 1.76
 101  100        NaN           Zcash    ZEC     $ 54.26   +0.92%     $ 54.70

          24 low Price Charts 7d  24 volume  # Coins Market cap
 0      $ 20,565             NaN    $ 9.64B   19.19M  $ 401.54B
 1    $ 1,548.83             NaN    $ 6.80B  122.37M  $ 200.65B
 2    $ 0.082995             NaN    $ 3.56B  129.40B   $ 14.87B
 3    $ 0.998865             NaN  $ 797.46M    1.68B    $ 1.68B
 4    $ 0.468060             NaN  $ 719.28M   50.08B   $ 23.67B
 ..          ...             ...        ...      ...        ...
 97      $ 66.63             NaN   $ 15.80M      NaN        NaN
 98   $ 0.005336             NaN   $ 15.73M   14.80B   $ 79.67M
 99   $ 0.082183             NaN   $ 15.48M    1.22B  $ 102.76M
 100      $ 1.66             NaN   $ 15.44M      NaN        NaN
 101     $ 53.56             NaN   $ 15.31M   15.58M  $ 845.63M

 [102 rows x 12 columns]]

In [16]:
len(crypto_data), type(crypto_data)

crypto_data = crypto_data[0]

In [50]:
crypto_final = crypto_data.iloc[:,2:]
crypto_final.head()

,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,Bitcoin,BTC,"$ 20,922",+1.57%,"$ 21,053","$ 20,565",NaN,$ 9.64B,19.19M,$ 401.54B
1,Ethereum,ETH,"$ 1,639.70",+5.46%,"$ 1,650.17","$ 1,548.83",NaN,$ 6.80B,122.37M,$ 200.65B
2,Dogecoin,DOGE,$ 0.114917,+37.01%,$ 0.115061,$ 0.082995,NaN,$ 3.56B,129.40B,$ 14.87B
3,Binanceusd,BUSD,$ 1.00,+0.07%,$ 1.00,$ 0.998865,NaN,$ 797.46M,1.68B,$ 1.68B
4,Ripple,XRP,$ 0.472657,-0.35%,$ 0.483147,$ 0.468060,NaN,$ 719.28M,50.08B,$ 23.67B

In [25]:
crypto_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             102 non-null    object
 1   Ticker           102 non-null    object
 2   Last price       102 non-null    object
 3   %                102 non-null    object
 4   24 high          102 non-null    object
 5   24 low           102 non-null    object
 6   Price Charts 7d  2 non-null      object
 7   24 volume        102 non-null    object
 8   # Coins          80 non-null     object
 9   Market cap       80 non-null     object
dtypes: object(10)
memory usage: 8.1+ KB

In [27]:
crypto_final.columns = crypto_final.columns.str.replace('Last price', 'last_price')
crypto_final.columns = crypto_final.columns.str.replace('24 high', 'high')
crypto_final.columns = crypto_final.columns.str.replace('24 low', 'low')
crypto_final.columns = crypto_final.columns.str.replace('Price Charts 7d', 'price_chart')

In [28]:
crypto_final.head()

,Name,Ticker,last_price,%,high,low,price_chart,24 volume,# Coins,Market cap
0,Bitcoin,BTC,"$ 20,777",+3.32%,"$ 21,004","$ 20,060",NaN,$ 14.79B,19.19M,$ 398.71B
1,Ethereum,ETH,"$ 1,566.39",+7.16%,"$ 1,591.45","$ 1,458.12",NaN,$ 12.75B,122.37M,$ 191.68B
2,Binanceusd,BUSD,$ 0.999820,0.00%,$ 1.00,$ 0.998433,NaN,$ 1.02B,1.68B,$ 1.68B
3,Dogecoin,DOGE,$ 0.072599,+15.19%,$ 0.073635,$ 0.062633,NaN,$ 874.00M,129.40B,$ 9.39B
4,Ripple,XRP,$ 0.468940,+1.75%,$ 0.470741,$ 0.456566,NaN,$ 851.09M,50.08B,$ 23.48B