# Desafio 4

Pegar a tabela base, remover as colunas desnecessárias, formatar e converter dados de last price e %, dps popular outra tabela com last_price com valores corretos

In [274]:
import pandas as pd
import requests

In [275]:
def converte_last_price(crypto_final):
    last_price = []
    for value in crypto_final['Last price']:
        if (value.count(',')):
            value = value.replace(',', '')

        value = value.removeprefix("$ ")
        
        value = float(value)
            
        last_price.append(value)
    
    return last_price

In [276]:
def converte_porcentagem(crypto_final):
    porcentagem = []
    for value in crypto_final['%']:

        value = value.removesuffix('%')
        value = value.removeprefix("+")

        value = float(value)

        porcentagem.append(value)
    
    return porcentagem

In [277]:
url = 'https://www.worldcoinindex.com/'
crypto_url = requests.get(url)
crypto_url

In [278]:
crypto_data = pd.read_html(crypto_url.text)
crypto_data

[       # Unnamed: 1            Name Ticker  Last price        %     24 high  \
 0      1        NaN         Bitcoin    BTC    $ 20,918   +1.55%    $ 21,053
 1      2        NaN        Ethereum    ETH  $ 1,637.62   +5.32%  $ 1,650.17
 2      3        NaN        Dogecoin   DOGE  $ 0.131227  +56.45%  $ 0.140792
 3      4        NaN       SHIBA INU   SHIB  $ 0.000014  +18.92%  $ 0.000015
 4      5        NaN      Binanceusd   BUSD      $ 1.00   +0.01%      $ 1.00
 ..   ...        ...             ...    ...         ...      ...         ...
 97    96        NaN  Lido DAO Token    LDO      $ 1.67   -0.37%      $ 1.76
 98    97        NaN           Maker    MKR    $ 919.12   +2.49%    $ 927.73
 99    98        NaN       The Graph    GRT  $ 0.085336   +3.79%  $ 0.085641
 100   99        NaN        Illuvium    ILV     $ 70.06   +4.12%     $ 72.76
 101  100        NaN           Filda  FILDA  $ 0.004694   -5.92%  $ 0.005200

          24 low Price Charts 7d  24 volume  # Coins Market cap
 0      $ 20,565             NaN    $ 9.27B   19.19M  $ 401.47B
 1    $ 1,548.83             NaN    $ 6.93B  122.37M  $ 200.40B
 2    $ 0.082995             NaN    $ 5.61B  129.40B   $ 16.98B
 3    $ 0.000012             NaN    $ 1.02B  497.73T    $ 6.93B
 4    $ 0.998865             NaN  $ 837.47M    1.68B    $ 1.68B
 ..          ...             ...        ...      ...        ...
 97       $ 1.64             NaN   $ 16.98M      NaN        NaN
 98     $ 893.84             NaN   $ 16.69M    1.00M  $ 924.24M
 99   $ 0.082183             NaN   $ 16.64M    1.22B  $ 104.53M
 100     $ 66.63             NaN   $ 15.97M      NaN        NaN
 101  $ 0.004480             NaN   $ 15.82M      NaN        NaN

 [102 rows x 12 columns]]

In [279]:
len(crypto_data), type(crypto_data)
crypto_data = crypto_data[0]

In [280]:
crypto_final = crypto_data.iloc[:,2:6]
crypto_final

               Name Ticker  Last price        %
0           Bitcoin    BTC    $ 20,918   +1.55%
1          Ethereum    ETH  $ 1,637.62   +5.32%
2          Dogecoin   DOGE  $ 0.131227  +56.45%
3         SHIBA INU   SHIB  $ 0.000014  +18.92%
4        Binanceusd   BUSD      $ 1.00   +0.01%
..              ...    ...         ...      ...
97   Lido DAO Token    LDO      $ 1.67   -0.37%
98            Maker    MKR    $ 919.12   +2.49%
99        The Graph    GRT  $ 0.085336   +3.79%
100        Illuvium    ILV     $ 70.06   +4.12%
101           Filda  FILDA  $ 0.004694   -5.92%

[102 rows x 4 columns]

In [281]:
filtro = crypto_final['Last price'] != "googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571049370698-0'); });"

crypto_final = crypto_final[filtro]

filtro = crypto_final['Last price'] != "googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571049390094-0'); });"

crypto_final = crypto_final[filtro]

crypto_final.head()

         Name Ticker  Last price        %
0     Bitcoin    BTC    $ 20,918   +1.55%
1    Ethereum    ETH  $ 1,637.62   +5.32%
2    Dogecoin   DOGE  $ 0.131227  +56.45%
3   SHIBA INU   SHIB  $ 0.000014  +18.92%
4  Binanceusd   BUSD      $ 1.00   +0.01%

In [282]:
last_price = converte_last_price(crypto_final)
porcentagem = converte_porcentagem(crypto_final)

In [283]:
data = {'Name': crypto_final['Name'], "last_price": last_price, "%": porcentagem}

crypto_convertido = pd.DataFrame(data)
crypto_convertido

               Name    last_price      %
0           Bitcoin  20918.000000   1.55
1          Ethereum   1637.620000   5.32
2          Dogecoin      0.131227  56.45
3         SHIBA INU      0.000014  18.92
4        Binanceusd      1.000000   0.01
..              ...           ...    ...
97   Lido DAO Token      1.670000  -0.37
98            Maker    919.120000   2.49
99        The Graph      0.085336   3.79
100        Illuvium     70.060000   4.12
101           Filda      0.004694  -5.92

[100 rows x 3 columns]

In [284]:
dados_processados = pd.DataFrame({
    "Coluna": ["last_price", "%"], 
    "Média": [crypto_convertido['last_price'].mean(), crypto_convertido['%'].mean()],
    "Mediana": [crypto_convertido['last_price'].median(), crypto_convertido['%'].median()],
    "Moda": [crypto_convertido['last_price'].mode(), crypto_convertido['%'].mode()]
})

dados_processados.head()

,Coluna,Média,Mediana,Moda
0,last_price,558.222709,1.15,"0 1.0 Name: last_price, dtype: float64"
1,%,5.241900,3.00,"0 2.00 1 2.64 Name: %, dtype: float64"