# Importando Biblioteca

In [ ]:
import pandas as pd

# Exemplo 1

In [ ]:
notas = pd.Series([2, 7, 5, 10, 6, 20])
notas.shape

# Exemplo 2

In [ ]:
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]

df = pd.DataFrame(a, columns=['one', 'two', 'three'])

df[['two', 'three']] = df[['two', 'three']].astype(float)
df.info()

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Simone-Ingrid/datasets/main/base_precos.csv', sep=';')

df

# Questão 1 - Leia a base de dados do seguinte endereço:

'https://raw.githubusercontent.com/Simone-Ingrid/datasets/main/media_disciplina.csv'

e calcule a média das Médias Finais da turma. Usar a função mean() na coluna de Médias.

In [1]:
import pandas as pd

# Resolvendo sem o método mean()

In [2]:
table = pd.read_csv('https://raw.githubusercontent.com/Simone-Ingrid/datasets/main/media_disciplina.csv', encoding='unicode_escape', sep=';')

average = 0

for value in table['MÉDIA FINAL']:
    if (value.find(',')):
        value = value.replace(',', '.')
    
    average += float(value)

average /= len(table['MÉDIA FINAL'])

print(f'A média das Médias Finais é: {average:.2f}')

A média das Médias Finais é: 3.30

# Resolvendo com o método mean()

## Função para transformar os valores da coluna da tabela em float

In [3]:
def convert_column_float(table, column):
    for i in range(len(table[column])):
        if (table[column][i].find(',')):
            table[column][i] = float(table[column][i].replace(',', '.'))

In [4]:
table = pd.read_csv('https://raw.githubusercontent.com/Simone-Ingrid/datasets/main/media_disciplina.csv', encoding='unicode_escape', sep=';')

convert_column_float(table, 'MÉDIA FINAL')
        
print(f"A média das Médias Finais é: {table['MÉDIA FINAL'].mean(axis=0):.2f}")

C:\Users\Neto\AppData\Local\Temp\ipykernel_304\2128540732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[column][i] = float(table[column][i].replace(',', '.'))

A média das Médias Finais é: 3.30

# Desafio 3 - Seja o Dataframe do exemplo da aula de hoje.
Considerando que o Python é Case sensitive, os dados únicos de uma
coluna devem ser consertados, exemplo 'brinquedo' é a mesma coisa
que 'brinqueDo'. No desafio, deve se consertar essas strings da
coluna 'setor'.

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/Simone-Ingrid/datasets/main/base_precos.csv', sep=';')

# Transformando todas as strings da coluna em letras minúsculas
df['setor'] = df['setor'].str.lower()

df

,id,data_aq,produto,quantidade,valor UN,TotaL,setor
0,0,01/01/2019,toalha,6,"R$ 35,00","R$ 210,00",mesa_banho
1,1,02/01/2019,toalha,6,"R$ 35,00","R$ 210,00",--
2,2,03/01/2019,toalha,2,"R$ 35,00","R$ 70,00",mesa_banho
3,3,01/02/2019,toalha,5,"R$ 35,00","R$ 175,00",nada
4,4,02/02/2019,toalha,9,"R$ 35,00","R$ 315,00",mesa_banho
...,...,...,...,...,...,...,...
544,544,31/07/2019,quebra_cabeca,9,"R$ 19,99","R$ 179,91",brinquedos
545,545,01/08/2019,quebra_cabeca,3,"R$ 19,99","R$ 59,97",brinquedos
546,546,30/07/2019,quebra_cabeca,4,"R$ 19,99","R$ 79,96",brinquedos
547,547,31/07/2019,quebra_cabeca,1,"R$ 19,99","R$ 19,99",brinquedos
548,548,2019-03-03 00:00:00,quebra_cabeca,8,"R$ 19,99","R$ 159,92",brinquedos